.comments {
    display: none;
}

.brand {
    font-family: "Oswald", sans-serif;
}

.container-fluid {
    padding-top: 50px;
}

.nav {
    float: right !important;
}

h1 {
    font-family: "Oswald", sans-serif;
    text-shadow: 1px 1px 1px #ccc;
}

h1 > a {
    color: #333;
}

h1 {
    font-size: 1.9em;
}

.byline {
    display: none;
}

.dateline {
    display: block;
    text-align: right;
}

.byline {
    display: none;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.2em;
}


h2 {
    font-family: "Lora", sans-serif;
}

body {
    font-family: "Lora", serif;
}
